<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-disable-nsapptransportsecurity" version="1.0.2">
    <name>Disable NSAppTransportSecurity</name>
    <description>Disables NSAppTransportSecurity</description>
    <author>Blake Israel</author>
    <license>MIT</license>
    <keywords>cordova,ios9,NSAppTransportSecurity,NSAllowsArbitraryLoads,ssl</keywords>

    <!-- ios -->
    <platform name="ios">
        <!-- PLIST Entries -->
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true />
            </dict>
        </config-file>

    </platform>
</plugin>